
/*-----------------SideBar- Start------------------ */
body{
    background-color: #fbfbfb;
}
.sidebar {
    
    position: fixed;
    width: 20%;
    height: 100%;
    background:  #000000;
    padding: 30px 0;
}
.roun{
    background-color: rgb(50, 52, 53);
    border-radius: 10px;
    color: white;
    width: 90%;
    margin-left: 5%;
    height: 60px;
    display: inline-flex;
}
.middle-icon{
    font-size: 25px;
}

.col-lg-8{
    width: 111px;
    margin-top: 4%;
    margin-bottom: 1%;
    margin-left: 7%;
}
.col-lg-2{
    margin-left: 10%;
    margin-top: 2.8%;
}
.img{
    width: 42px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

.container .sidebar .mcontent{
    margin-top: 12%;
    
}
.container .sidebar .mcontent a{
    
    color: #c2c2c2;
    background-color: #000000;
    padding: 15px;
    font-size: 14px;
    display: block; 
    text-decoration: none;
    border-bottom: 1px solid black;
    margin-left: 4%;
    margin-right: 4%;
}
.container .sidebar a:hover{
    
    color: white;
    background-color: rgb(50, 52, 53);
    border-radius: 12px;
    margin-left: 5%;
    /* margin-right: 5%; */
    font-size: 18px;
    text-decoration: underline;
}
.mcontent .setting{
    border-top: 1px solid gray;
    margin-top: 65%;
}
.mcontent .setting a{
    margin-left: 20%;
    margin-top: 5%;
}

.micon{
    font-size: 17px;
    margin-right: 12px;
    margin-left: 15px;
}
.micon1{
    font-size: 17px;
    margin-right: 8px;
    margin-left: 14px;
}

/* -------------------SideBar- End ------------------*/

.header{
    width: 80%;
    height: 80px;
    background-color: white;
    margin-bottom: 20%;
    border-bottom: 2px solid lightgray;
    position: fixed;
}
.Hname{
    margin-top: 2%;
    margin-left: 8%;
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: solid black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.search-box {
    
    max-width: 400px;
    margin: 50px auto;
}
.search-box input {
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    outline: none;
    width: 328px;
    background-color: rgb(246, 246, 246);
}
.large-icon{
    font-size: 25px;
    letter-spacing: 14px;
    color: rgb(177, 177, 177);
}
.middle{
    margin-left: 20%;
    position: fixed;
    width: 80%;
}
.middle .row{
    width: 100%;
    display: flex;
}

.middle .row .col-lg-3{
    width: 49%;
} 
.col-lg-5{
    width: 100%;
}
.col-lg-4{
    width: 100%;
}
.Notes .notes-content1{
    background-color: white;
    width: 95%;
    height: 570px;
    margin-top: 8%;
    margin-left: 2%;
    border: 2px solid lightgray;
    border-radius: 32px;
    box-shadow: 0 4px 8px 0 rgb(232, 232, 232), 0 6px 20px 0 rgb(209, 199, 199);
}
.Notes .row .col-lg-6{
    width: 100%;
    margin-top: 2%;
    margin-left: 4%;
    font-size: 21px;
    font-weight: bolder;
}
.Notes .row .col-lg-1{
    width: 100%;
    margin-top: 2%;
    margin-right: 4%;
    font-size: 21px;
    font-weight: bolder;
    color: rgb(123, 123, 123);
}
.Notes .notes-profile{
    /* margin-left: 4%; */
    margin-top: 1%;
    border-bottom: 2px solid rgb(235, 235, 235);
}
.notes-profile .p-img{
    width: 32px;
    height: 30px;
    border-radius: 20px;
}
.notes-profile .col-lg-1-n{
    width: 100%;
    margin-top: 1px;
    margin-left: 4%;
}
.notes-profile .col-lg-1-nn{
    width: 100%;
    margin-top: 1%;
    margin-left: -42%; 
    margin-top: 5px;
    color: gray;
    margin-bottom: 2%;
}

.notes-profile .col-lg-10{
    width: 100%;
    
}
.notes-content2{
    width: 92%;
    margin-left: 4%;
}

.notes-content2 .row{
    margin-top: 15px;
    text-align: justify;
    letter-spacing: 1px;
}

.notes-content3{
    border-top: 2px solid rgb(235, 235, 235);
}
.notes-content3 .row{
   margin-left: 4%;
   margin-top: 2%;
   letter-spacing: 25px;
}
.notes-content3 .row .cicon{
    font-size: 22px;
    color: gray;
}