
/*-----------------SideBar- Start------------------ */
body{
    background-color: #fbfbfb;
}
.sidebar {
    
    position: fixed;
    width: 20%;
    height: 100%;
    background:  #000000;
    padding: 30px 0;
}
.roun{
    background-color: rgb(50, 52, 53);
    border-radius: 10px;
    color: white;
    width: 90%;
    margin-left: 5%;
    height: 60px;
    display: inline-flex;
}
.middle-icon{
    font-size: 25px;
}

.col-lg-8{
    width: 111px;
    margin-top: 4%;
    margin-bottom: 1%;
    margin-left: 7%;
}
.col-lg-2{
    margin-left: 10%;
    margin-top: 2.8%;
}
.img{
    width: 42px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

.container .sidebar .mcontent{
    margin-top: 12%;
    
}
.container .sidebar .mcontent a{
    
    color: #c2c2c2;
    background-color: #000000;
    padding: 15px;
    font-size: 14px;
    display: block; 
    text-decoration: none;
    border-bottom: 1px solid black;
    margin-left: 4%;
    margin-right: 4%;
}
.container .sidebar a:hover{
    
    color: white;
    background-color: rgb(50, 52, 53);
    border-radius: 12px;
    margin-left: 5%;
    /* margin-right: 5%; */
    font-size: 18px;
    text-decoration: underline;
}
.mcontent .setting{
    border-top: 1px solid gray;
    margin-top: 60%;
}
.mcontent .setting a{
    margin-left: 20%;
    margin-top: 2%;
}

.micon{
    font-size: 17px;
    margin-right: 12px;
    margin-left: 15px;
}
.micon1{
    font-size: 17px;
    margin-right: 8px;
    margin-left: 14px;
}

/* -------------------SideBar- End ------------------*/

.header{
    width: 80%;
    height: 80px;
    background-color: white;
    margin-bottom: 20%;
    border-bottom: 2px solid lightgray;
    position: fixed;
}
.Hname{
    margin-top: 2%;
    margin-left: 8%;
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: solid black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.search-box {
    
    max-width: 400px;
    margin: 50px auto;
}
.search-box input {
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    outline: none;
    width: 328px;
    background-color: rgb(246, 246, 246);
}
.large-icon{
    font-size: 25px;
    letter-spacing: 14px;
    color: rgb(177, 177, 177);
}
.middle{
    margin-left: 20%;
    position: fixed;
    width: 80%;
}
.middle .row{
    width: 100%;
    display: flex;
}

.middle .row .col-lg-3{
    width: 49%;
} 
.col-lg-5{
    width: 100%;
}
.col-lg-4{
    width: 100%;
}

.col-lg-1-teacher{
    margin-left: 2%;
    border: 2px solid lightgray;
    padding: 8px 14px;
    border-radius: 20px;
    background-color: white;
}

.row-card{
    width: 91%;
    margin-top: 4%; 
    margin-left: 5%;
    margin-right: 5%;
}
.row-card .card{
    width: 94%;
    height: 245px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(232, 232, 232), 0 6px 20px 0 rgb(209, 199, 199);
}
.row-card .t-sub{
    margin-left: 21%;
    margin-right: 21%;
    margin-top: 7%;
    /* width: 200px; */
    /* border: 2px solid lightgray; */
    padding: 4px 4px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(198, 253, 198);
}
.row-card .t-img{
    margin-top: 6%;
    margin-left: 35%;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.row-card .t-detail1{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.row-card .t-detail2{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: rgb(111, 111, 220);
}

.row .t-icon{
    width: 90%; 
    margin-left: 5%; 
    margin-right: 5%;
    margin-top: 8%;
}

.row-card .fa-solid{
    padding: 11% 21%;
    border: 1px solid lightgray;
    border-radius: 20px;
}